<h1>Order Batch</h1>


<h2>Cuno = {{cunoHeader$}}</h2>

<!--
<div #datagridToDisplay id="gridToDisplay" soho-datagrid [gridOptions]="datagridOptions" soho-busyindicator
   [blockUI]="true" [displayDelay]="0" (selected)="onSelectedLine($event.rows)">
</div>
-->
<!--
<form *ngIf='show' #f="ngForm" class="form-responsive row">

   <label for="row-1-1">Client</label>
   <input type="text" id="row-1-1" name="CUNO" readonly [ngModel]="cuno" />

   <label for="row-1-3">N° cde Ouverture</label>
   <input type="text" id="row-1-5" name="AGNO" [ngModel]="agno" />

   <label for="row-1-5">Début Validité</label>
   <input type="text" id="row-1-6" name="STDT" [ngModel]="stdt" />

   <label for="row-1-5">Der dt facture</label>
   <input type="text" id="row-1-6" name="AGDT" [ngModel]="agdt" />

   <label for="row-1-5">Priorité</label>
   <input type="text" id="row-1-6" name="PREX" [ngModel]="prex" />

   <label for="row-1-5">Priorités util</label>
   <input type="text" id="row-1-6" name="AGDT" [ngModel]="stdt" />
</form>
-->