<soho-icons-new></soho-icons-new>
<soho-icons-empty-new></soho-icons-empty-new>

<h1>Customer 360 Overview</h1>
<div>
   <label for="clients">Clients : </label>
   <select soho-dropdown noSearch name="clients">
      <option *ngFor="let client of listClients">{{client.CUNO}} : {{client.CUNM}} - {{client.WHLO}}</option>
   </select>
</div>


<div soho-tabs #onglet [disableAutoUpdatedCall]="true" registerForEvents="activated">
   <div soho-tab-list-container>
      <ul soho-tab-list>
         <li soho-tab selected="true"><a soho-tab-title tabId="tab-page-general"> Général</a> </li>

         <li soho-tab><a soho-tab-title tabId="tab-page-adresses"> Adresses</a> </li>

         <li soho-tab><a soho-tab-title tabId="tab-page-article-client"> Article / Client</a> </li>

         <li soho-tab><a soho-tab-title tabId="tab-page-contrats"> Contrats</a> </li>

         <li soho-tab><a soho-tab-title tabId="tab-page-frais"> Frais</a> </li>

         <li soho-tab><a soho-tab-title tabId="tab-page-circuit-commercial"> Circuit Commercial</a> </li>

         <li soho-tab><a soho-tab-title tabId="tab-page-assortiment"> Assortiment</a> </li>

         <li soho-tab><a soho-tab-title tabId="tab-page-commandes"> Commandes</a> </li>

         <li soho-tab><a soho-tab-title tabId="tab-page-ligne"> Ligne</a> </li>

         <li soho-tab><a soho-tab-title tabId="tab-page-offres"> Offres</a> </li>

         <li soho-tab><a soho-tab-title tabId="tab-page-batch-orders"> Batch Orders</a> </li>
      </ul>
   </div>
</div>

<div soho-tab-panel-container style="height: 50px;">

   <div soho-tab-panel tabId="tab-page-general" style="padding-top: 5px;">
      <app-general></app-general>
   </div>

   <div soho-tab-panel tabId="tab-page-adresses" style="padding-top: 5px;">
      <app-adresses></app-adresses>
   </div>

   <div soho-tab-panel tabId="tab-page-article-client" style="padding-top: 5px;">
      <app-article-client></app-article-client>
   </div>

   <div soho-tab-panel tabId="tab-page-contrats" style="padding-top: 5px;">
      <app-contrats></app-contrats>
   </div>

   <div soho-tab-panel tabId="tab-page-frais" style="padding-top: 5px;">
      <app-frais></app-frais>
   </div>

   <div soho-tab-panel tabId="tab-page-circuit-commercial" style="padding-top: 5px;">
      <app-circuitCom></app-circuitCom>
   </div>

   <div soho-tab-panel tabId="tab-page-assortiment" style="padding-top: 5px;">
      <app-assortiment></app-assortiment>
   </div>

   <div soho-tab-panel tabId="tab-page-commandes" style="padding-top: 5px;">
      <app-commandes></app-commandes>
   </div>

   <div soho-tab-panel tabId="tab-page-ligne" style="padding-top: 5px;">
      <app-ligne></app-ligne>
   </div>

   <div soho-tab-panel tabId="tab-page-offres" style="padding-top: 5px;">
      <app-offres></app-offres>
   </div>

   <div soho-tab-panel tabId="tab-page-batch-orders" style="padding-top: 5px;">
      <app-batchOrders></app-batchOrders>
   </div>
</div>
