<h1>Code Article chez le Client</h1>
<br>
<br>

<div #datagridToDisplay id="gridToDisplay" soho-datagrid [gridOptions]="datagridOptions" soho-busyindicator
   [blockUI]="true" [displayDelay]="0" (selected)="onSelectedLine($event.rows)"></div>

<h1>Item - Customer Details</h1>
<br>
<br>
<br>
<br>

<form #f="ngForm" class="form-responsive row">

   <label for="row-1-1">Réf complément</label>
   <input type="text" id="row-1-1" name="POPN" readonly [ngModel]="popn" />

   <label for="row-1-2">Nom</label>
   <input type="text" id="row-1-2" name="ITDS" [ngModel]="itds" />

   <label for="row-1-3">Unité remplac</label>
   <input type="text" id="row-1-5" name="ALUM" [ngModel]="alum" />

   <label for="row-1-5">Qté minimum</label>
   <input type="text" id="row-1-6" name="D2QT" [ngModel]="d2qt" />

   <label for="row-1-5">Qté maximum</label>
   <input type="text" id="row-1-7" name="D3QT" [ngModel]="d3qt" />

   <label for="row-1-4">Représentant</label>
   <input type="text" id="row-1-8" name="RESP" [ngModel]="resp" />

   <label for="row-1-5">Ajust expirat</label>
   <input type="text" id="row-1-9" name="ADCU" [ngModel]="adcu" />

</form>


<!-- soho-busyindicator -->
<br>
<!-- <div class="row top-padding">
  <div class="twelve columns demo" role="main">
    <section class="scrollable contained-scrolling-right-bottom" style="height: 100%">
      <div soho-datagrid

        activated="true"
        menuId="{{contextMenuId}}"
        (selected)="onSelectedLine($event.rows)"
        (rowDoubleClicked)="onRowDoubleClicked($event)"
        (rowClicked)="onRowClicked($event)"
        (contextMenu)="onContextMenu($event)"
        (filteroperatorchanged)="onFilterOperatorChanged($event)"
        [columns]="columns | async"
        [data]="data | async"
        displayDelay="0"
        selectable="multiple"
        filterable="true"
        paging="true"
        pagesize="10"
      ></div>
    </section>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <p class="section-title">Cards: Single Selection</p>
  </div>
</div> -->

<!--

A VOIR LA VERSION EST DIFF2RENTE ET LES CARD N  4 EXISTE PAS

<div class="one-third column">
  <soho-card>
    <soho-card-header>
      <h2 class="widget-title">Card Title</h2>
      <button soho-button="icon" icon="more" soho-context-menu menu="action-popupmenu" trigger="click"
        class="btn-actions"></button>
    </soho-card-header>
  </soho-card>
</div>
-->
