<label for="clients">Clients : </label>

<select soho-dropdown noSearch name="clients" [(ngModel)]='ngSelect' (change)="onSelectedClient()">

  <option *ngFor="let client of listClients" [ngValue]="client">
    {{client.CUNO}} :
    {{client.CUNM}} -
    {{client.WHLO}}
  </option>
</select>




<div soho-tabs #onglet [disableAutoUpdatedCall]="true" registerForEvents="activated">
  <div soho-tab-list-container>
    <ul soho-tab-list>

      <li soho-tab *ngFor="let item of listAddresses" routerLinkActive="active-link">
        <a soho-tab-title routerLink="{{item.rooting}}">{{item.nameTab}}</a>
      </li>
    </ul>
  </div>
</div>
