<h1>Contrats</h1>
<div class="full-width full-height scrollable-flex">

  <div class="row top-padding">
    <div class="twelve columns demo">
      <div #datagridToDisplay id="gridToDisplay" soho-datagrid [gridOptions]="datagridOptions" soho-busyindicator
        [blockUI]="true" (selected)="onSelectedLine($event.rows)">
      </div>
    </div>
  </div>


<form  #f="ngForm" class="form-responsive row">

   <label for="row-1-1">Client</label>
   <input type="text" id="row-1-1" name="CUNO" readonly [ngModel]="cuno" />

   <label for="row-1-3">N° cde Ouverture</label>
   <input type="text" id="row-1-5" name="AGNO" [ngModel]="agno" />

   <label for="row-1-5">Début Validité</label>
   <input type="text" id="row-1-6" name="STDT" [ngModel]="stdt" />

   <label for="row-1-5">Der dt facture </label>
   <input type="text" id="row-1-6" name="STDT" [ngModel]="lidt" />

   <label for="row-1-5">Priorité</label>
   <input type="text" id="row-1-6" name="AGTP" [ngModel]="prex" />

</form>
