<h1>Adresses</h1>
<div class="full-width full-height scrollable-flex">

  <div class="row top-padding">
    <div class="twelve columns demo">
      <div #addresses id="gridToDisplay" soho-datagrid [gridOptions]="datagridOptions" soho-busyindicator
        [blockUI]="true" (selected)="onSelectedLine($event.rows)">
      </div>
    </div>
  </div>





  <form id="all_form" *ngIf='show' #f="ngForm" >
    <div class="forms_container">
    <div class="adr_details">
      <h1>Détails adresses</h1>
      <div class="container" id="form_details1">
        <div class="items">
          <label for="row-1-1">Nom client</label>
          <input class="centered-input" type="text" id="row-1-1" name="CUNM" readonly [ngModel]="cunm" />
        </div>
        <div class="items">
          <label for="row-1-2">Adresse</label>
          <div><input class="centered-input" readonly="readonly" type="readonly" id="row-1-2" name="CUA1" [ngModel]="cua1" /></div>
          <div><input class="centered-input" readonly="readonly" type="text" id="row-1-3" name="CUA2" [ngModel]="cua2" /></div>
          <div><input class="centered-input" readonly="readonly" type="text" id="row-1-4" name="CUA3" [ngModel]="cua3" /></div>
          <div><input class="centered-input" readonly="readonly" type="text" id="row-1-4" name="CUA4" [ngModel]="cua4" /></div>
        </div>
        <div class="items">
          <label for="row-1-3">Numéro de téléphone</label>
          <input class="centered-input" readonly="readonly" type="text" id="row-1-5" name="PHNO" [ngModel]="phno" />
        </div>
        <div class="items">
          <label for="row-1-4">V/rèf 1</label>
          <input class="centered-input" readonly="readonly" type="text" id="row-1-8" name="YREF" [ngModel]="yref" />
        </div>
      </div>
    </div>

    <div class="adr">
      <h1>Détails</h1>
      <div class="container" id="form_details2">
        <div class="items">

        </div>
        <div class="items">
          <label for="row-1-5">N° Imm TVA UE</label>
          <input type="text" id="row-1-9" name="VRNO" [ngModel]="vrno" />
        </div>
        <div class="items">
          <label for="row-1-5">N° empl EAN - GLN</label>
          <input type="text" id="row-1-10" name="EALO" [ngModel]="ealo" />
        </div>
        <div class="items">
          <label for="row-1-5">Numéro de fax</label>
          <input type="text" id="row-1-6" name="TFNO" [ngModel]="tfno" />
        </div>
        <div class="items">
          <label for="row-1-5">Support utilisé</label>
          <input type="text" id="row-1-7" name="MEAL" [ngModel]="meal" />
        </div>
        <div class="items">
          <label for="row-1-5">Mode de livraison</label>
          <input type="text" id="row-1-11" name="MODL" [ngModel]="modl" />
        </div>
        <div class="items">
          <label for="row-1-5">Cond. livraison</label>
          <input type="text" id="row-1-12" name="TEDL" [ngModel]="tedl" />
        </div>
        <div class="items">

        </div>
      </div>
    </div>
  </div>
  </form>

</div>
